<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/image/weather.png">
        <link rel='stylesheet' href="/css/style.css">
    </head>
    <body>
        <div class="main-box">
            {{>header}}
            <p>About Node JS</p>
            <img class='portrait' src="/image/me.jpg"></img>
        </div>
        {{>footer}}
    </body>
</html>