<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/image/weather.png">
        <link rel='stylesheet' href="/css/style.css">
    </head>
    <body>
        <div class='main-box'>
            {{>header}}
            <p>Enter your location to check weather</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="Message1"></p>
            <p id="Message2"></p>
        </div>
        
        {{>footer}}
        <script src='/js/app.js'></script>
    </body>
</html>
